body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/minimalist.jpg');
}

.main-content{
    flex-grow: 1;
    background: #5790bf57;
    margin-top: 50px;
    padding:10px 10px 10px 60px;
    
}

footer{
    border-top: 1px solid rgb(128, 123, 123);
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: rgb(231, 231, 231);
    margin-right: 16px;
    text-decoration: none;
}

input[type=text] {
   
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .submit_button {
    background-color: #115c7a; /* Green */
    border: none;
    color: rgb(248, 248, 248);
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .info{
    color: white;
    padding: 30px;
  }

  footer{
      color: rgb(248, 248, 248);
  }