<!DOCTYPE html>
<html>
   <head>
       <link type="text/css" rel="stylesheet" href="./css/styles.css">
       <link rel="icon" href="./images/weather.png">
       <title>About</title>
   </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="info">This page is done by {{name}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>